{% extends main_layout %}

{% block body %}

    <section class="main-section" id="error">
        <div class="container">
            <div class="page-header">
                <h1>Vous n'êtes pas autorisé à accéder à cette page</h1>
            </div>
            <p>Vous n'avez pas accès à cette page. Vous pouvez aller à la page de <a href="{{ path('fos_user_security_login') }}">connexion</a>.</p>
            <br/>
            <hr/>
            <a href="{{ path('homepage') }}" class="btn btn-default">Retourner à l'accueil</a>

        </div>
    </section>
{% endblock %}
