<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Actions</h3>
            <div class="actions">
                {{ html|raw }}
            </div>
        </div>
    </div>
</div>