<div class="container">
    <div class="row">
        <div class="row">
            <section id="mainLogs">
                <ul>
                    {% for log in logs %}
                        <li class="{{ log.type }}">{{ log.date|date('d/m/Y - H:i:s') }} - {{ log.text }}</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</div>