{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Les villes</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="list-group">
                            {% for city in cities %}
                                <a href="{{ path('city', {'id': city.0.id, 'slug': city.0.name|slugify }) }}"
                                   class="list-group-item list-group-item-action {% if city.0 == app.user.city %}active{% endif %}">
                                    {{ city.0.name }} : {{ city.somme }} joueurs.
                                    <span class="float-right badge badge-{% if city.0 == app.user.city %}light{% else %}primary{% endif %}">
                                        Voyage : {{ city.0.price }}$
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}