{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>GameLand</h1>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h3>Le 1 sur 10 !</h3>
                        <p class="lead">
                            Tente de gagner 10 fois ta mise !
                            <br>
                            Cout : 1PA
                        </p>
                        <ul>
                            <li><a href="{{ path('game_one_ten',{amount:1}) }}">Miser 1$</a></li>
                            <li><a href="{{ path('game_one_ten',{amount:5}) }}">Miser 5$</a></li>
                            <li><a href="{{ path('game_one_ten',{amount:10}) }}">Miser 10$</a></li>
                            <li><a href="{{ path('game_one_ten',{amount:100}) }}">Miser 100$</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h3>foo</h3>
                    </div>
                    <div class="col-4">
                        <h3>bar</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block stylesheets %}
{% endblock %}
