{% extends 'render/action/patterns/main-pattern.html.twig' %}
{% block line %}
    {% if action.type ==  constant('AppBundle\\Entity\\Action\\CityMove::TYPE_USER') %}
        Vous changez de ville vous arrivez à <a href="#">{{ action.city.name }}</a>
    {% else %}
        Le hasard vous emmène à <a href="#">{{ action.city.name }}</a>
    {% endif %}
{% endblock %}

