{% extends main_layout %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Monitoring</h1>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div id="chartContainerUsersMoney" style="height: 370px; width: 100%;"></div>
                    </div>
                    <div class="col-6">
                        <div id="chartContainerPurchases" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="chartContainerAccounts" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.canvasjs.min.js') }}"></script>
    <script src="{{ asset('js/charts-admin.js') }}"></script>
{% endblock %}