{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Monitoring</h1>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div id="chartContainerUsersMoney" style="height: 370px; width: 100%;"></div>
                    </div>
                    <div class="col-6">
                        <div id="chartContainerPurchases" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        var api_users_money_data_index_url = '{{ absolute_url(path('users_money_data')) }}';
        var api_purchases_data_index_url = '{{ absolute_url(path('purchase_data')) }}';
    </script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="{{ asset('js/charts-admin.js') }}"></script>
{% endblock %}