{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Épargne</h1>
                <hr>
                <p class="lead">Attention cet argent ne peut etre récupéré qu'à votre mort...</p>
                <div class="row">
                    <div class="col-3">
                        {{ form_start(form) }}
                        {{ form_row(form.amount) }}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" id="maxSaving">Selectionner MAX</button>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#maxSaving').on('click', function (e) {
                var max = $('#appbundle_bank_saving_amount').attr('max');
                $('#appbundle_bank_saving_amount').val(max);
            });
        });
    </script>
{% endblock %}