/* line 1, ../scss/modules/_logs.scss */
#mainLogs {
  position: fixed;
  right: 0;
  bottom: 0;
}
/* line 5, ../scss/modules/_logs.scss */
#mainLogs ul {
  width: 300px;
}

/* line 10, ../scss/modules/_logs.scss */
#listLogs {
  overflow: scroll;
  height: 100vh;
  position: sticky;
  -webkit-position: sticky;
}
